# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore Terraform variable files
*.tfvars
*.tfvars.json

# Ignore the .terraform directory
.terraform/

# Ignore env file
**/.env
terraform/**/.env

# Python
venv/
.venv/
__pycache__/
*.pyc